<!DOCTYPE html>
<html lang="en">
<head>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <title>trAPI</title>
    

   
</head>
<body>
    <style>

        body {
            background: #36393f;
            font-family: 'Open Sans', sans-serif;
        }

        
        body {}

        h1 {
            color: #ce513b;
        }

        p {
            text-shadow: coral;
            color:rgb(236, 20, 20);
        }

        h2 {
            font-size: large;
            color:#ce513b;
        }

        .aligned {
        }
          
        span {
            padding: 10px;
            color:burlywood;
        }




    </style>
    
    <center>

        <h1 style="text-shadow:2px 2px 2px black"><b><a href="https://www.reddit.com{{link}}" style="text-shadow: 2px 2px 2px grey;color:  #e63010;text-decoration: none;">Post Name: <code>{{title}}</code></a></b></h1>
        
        <br>

        <img src="{{url}}" height="640", style="box-shadow: 0px 0px 9px 5px #ff5f00;border-radius: 40px;border: 6px solid #ff5f00;">

        <br>
        <br>

        <div class="aligned">
            <img src="https://cdn.discordapp.com/emojis/786546049585774614.webp?size=96&quality=lossless" width="20", height="20" alt="">      
            <span>Upvotes: {{upvotes}}</span>
            <br>
            <img src="https://cdn.discordapp.com/emojis/879533951398584381.webp?size=96&quality=lossless" width="20", height="10" alt="">      
            <span>Upvotes %: {{upvote_ratio}}</span>
            <br>
            <img src="https://cdn.discordapp.com/emojis/877651300953767977.webp?size=96&quality=lossless", width="20", height="20">
            <span>Author: <a href="https://www.reddit.com/user/{{author}}/" style="color:burlywood; text-decoration: none;">{{author}}</a></span>

        </div>



    </center>
</body>
</html>
